@import url('https://fonts.google.com/share?selection.family=Open+Sans:ital,wght@0,300..800;1,300..800');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 250;
    font-style: normal;
}
.nav{
    width: 1800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px;
}
.menu{
    width: 600px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    width: 320px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: #134A45;
    font-size: 16px;
}
.log{
    width: 216px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.log a{
    text-decoration: none;
    color: #134A45;
    font-size: 16px;
}
.log button{
    width: 139px;
    height: 52px;
    background: none;
    color: #134A45;
    border: 2px solid #134A45;
}
.banner{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centre{
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text, .images{
    width: 50%;
    height: 100%;
}
.text{
    width: 50%;
    height: 467px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.text h1{
    font-size: 70px;
    color: #134A45;
    width: 430px;
    height: 80px;
}
.text p{
    color: #134A45;
    font-size: 23px;
    height: 50px;
    margin-top: 40px;
}
.text button{
    width: 221px;
    height: 30px;
    background-color: #134A45;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}
.foto{
    width: 43%;
    height: 460px;
    display: flex;
    justify-content: space-between;
}

.foto div{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}
.foto_odin{
    width: 244px;
    height: 247px;
}
.foto_dva{
    width: 190px;
    height: 197px;
}
.bred{
    width: 100%;
    height: 332px;
    background-color: #E5E8EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide_mid{
    width: 100%;
    height: 150px;
}
.line{
    width: 93%;
    height: 69px;
    border-bottom: 1px solid #144641;
}
.slide_text{
    width: 93%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide_text p{
    color: #134A45;
    font-size: 20px;
}
.arrow{
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.arrow button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #96C9E9;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.slider_mid{
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide p{
    color: #134A45;
    font-size: 17px;
    padding-left: 65px;
}
.piska{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 600px;
}
.pashalka{
  background-color: #134a45;
  color: white;
  width: 400px;
  height: 130px;
  padding: 20px 16px 16px 16px;
  border-radius: 6px;
  text-align: left;
}
.pashalka_2{
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.pashalka_3{
  font-size: 13px;
  color: #d5e8e6;
  text-align: left;
}
.health{
    background-color: #134A45;
}
.main2{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.violt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1580px;
    height: 100px;
    box-shadow: 1px 1px 5px;
    background-color: #B961CD;
    color: white;
}
.top{
    font-size: 16px;
}
.how{
    font-size: 13px;
}
.podpiska{
    font-size: 15px;
}
.need_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1815px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}
.need_text{
    width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 35px;
    padding-left: 80px;
}
.need_health{
    width: 1100px;
    height: 440px;
}
.need{
    font-size: 13px;
    width: 110px;
    height: 30px;
    letter-spacing: 4px;
}
.need_text h1{
    font-size: 40px;
    width: 420px;
    height: 100px;
}
.medic{
    font-size: 17px;
    width: 450px;
    height: 220px;
    color: #cfd4d869;
    padding-top: 60px;
}
.need-visual{
    width: 640px;
    height: 750px;
    padding-right: 110px;
}
.solution-main{
    height: 1140px;
}
.intro{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #134A45;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.intro_mid p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-size: 13px;
}
.intro_mid h1{
    height: 130px;
    font-size: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.solution{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.green{
    background-color: #134A45;
    height: 789px;
    width: 570px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    color: #134A45;
}
.blue_text{
    color: #CFD4D8;
    background-color: #96C9E9;
    height: 789px;
    width: 570px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}
.blue_text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.blue_text p{
    width: 367px;
    height: 130px;
    font-size: 17px;
}
.verh a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn{
    width: 370px;
    font-size: 17px;
    height: 70px;
}
.upskill-link a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outcomes-section{
    background-color: #CFD4D8;
    height: 1276px;
}
.outcomes-wrapper{
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.outcomes-intro{
    width: 1700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.intro-block{
    width: 1100px;
}
.intro-block h1{
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outcomes-intro h1{
    font-size: 45px;
    color: #134A45;
    width: 580px;
    height: 140px;
}
.outcomes-intro p{
    color: #134A45;
    font-size: 20px;
    width: 467px;
    height: 140px;
    padding-top: 40px;
}
.metrics-left{
    width: 560px;
    height: 750px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.stat-circle{
    width: 530px;
    height: 416px;
    background-color: #96C9E9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #134A45;
}
.line_1{
    width: 530px;
    border-bottom: 5px solid #134A45;
}
.stat-circle h1{
    font-size: 90px;
    width: 244px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stat-circle p{
    width: 510px;
    height: 140px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stat-doctor{
    width: 371px;
    height: 264px;
    color: #134A45;
    background-color: #D0C2BB;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.stat-doctor h1{
    font-size: 86px;
    width: 290px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stat-doctor p{
    font-size: 20px;
    width: 260px;
    height: 90px;
    display: flex;
    justify-content: center;
}
.line_2{
    width: 371px;
    border-bottom: 5px solid #B8A086;
}
.stat-pink{
    width: 318px;
    height: 292px;
    background-color: #B961CD;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.stat-pink h1{
    font-size: 86px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stat-pink p{
    width: 217px;
    height: 84px;
    font-size: 20px;
}
.line_3 {
    width: 318px;
    border-bottom: 5px solid #7F3490;
}
.metrics-right{
    width: 500px;
    height: 750px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.stat-savings{
    width: 530px;
    height: 388px;
    background-color: #134A45;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.stat-savings h1{
    font-size: 85px;
    width: 340px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stat-savings p{
    font-size: 20px;
    width: 269px;
    height: 56px;
}
.line_4{
    width: 530px;
    border-bottom: 5px solid #96C9E9;
}
.metrics-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.metrics-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.metric-block_1{
    display: flex;
    flex-direction: column;
}
.metric-block_2{
    width: 698px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.metric-block_3{
    display: flex;
    flex-direction: column;
}
.metric-block_4{
    display: flex;
    flex-direction: column;
}
.framework-section{
    background-color: #E5E8EB;
    height: 610px;
}
.framework-layout{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.framework-text{
    width: 55%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #134A45;
}
.label-how{
    width: 145px;
    height: 130px;
    font-size: 13px;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-content h1{
    font-size: 39px;
    width: 550px;
    height: 190px;
}
.text_by{
    width: 407px;
    height: 112px;
    font-size: 17px;
}
.text_now{
    width: 409px;
    height: 120px;
    font-size: 17px;
}
.green-circle{
    display: flex;
    justify-content: center;
    width: 200px;
}
.framework-visual{
    display: flex;
    flex-direction: column;
}
.visual-container{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 550px;
}
.ymni{
    width: 550px;
    height: 476px;
}
.line_5{
    width: 550px;
    border-bottom: 5px solid #B961CD;
}
.team-showcase{
    width: 100%;
    height: auto;
    padding: 60px 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #CFD4D8;
}

.showcase-layout{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.showcase-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content{
    display: flex;
    align-items: center;
}

.header-title h1{
    font-size: 40px;
    color: #134A45;
    line-height: 1.2;
    margin: 0;
    width:525px;
    padding-left: 58px;
}

.header-nav{
    display: flex;
    gap: 15px;
}
.header-nav .btn-left,
.header-nav .btn-right{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #96C9E9;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav button:hover{
    opacity: 0.8;
}
.showcase-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
}
.item-ceo,
.item-dei,
.item-engagement{
    width: 340px;
    height: 524px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-ceo{
    background-color: #134A45;
    color: white;
}
.item-dei{
    background-color: #E5E8EB;
    color: #134A45;
}
.item-engagement{
    background-color: #96C9E9;
    color: #134A45;
}
.ceo-content,
.dei-content,
.engagement-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ceo-content h1,
.dei-content h1,
.engagement-content h1{
    font-size: 26px;
    line-height: 1.3;
    margin: 0 0 20px 0;
}
.ceo-content p,
.dei-content p,
.engagement-content p{
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
}
.engagement-content p{
    font-size: 17px;
}
.pyramid-icon,
.arrow-icon-1,
.arrow-icon-2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.pyramid-icon img,
.arrow-icon-1 img,
.arrow-icon-2 img{
    width: 40px;
    height: auto;
}
.press-container{
    height: 350px;
    width: 100%;
}
.press-quote{
    font-size: 26px;
    width: 1800px;
    height: 200px;
    display: flex;
    color: #134A45;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.press-logos{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 65%;
}
.logo-htn{
    width: 150px;
}
.cta-section{
    height: 900px;
    background-color: #96C9E9;
}
.cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #134A45;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;

}
.cta-text h1{
    font-size: 40px;
    width: 800px;
    height: 230px;
    color: #134A45;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cta-text p{
    font-size: 21px;
    width: 750px;
    height: 30px;
}
.cta-button{
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-demo{
    color: white;
    width: 339px;
    height: 57px;
    background-color: #134A45;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-section{
    background-color: #134A45;
}
.newsletter-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.newsletter-left{
    width: 800px;
}
.newsletter-left h1{
    font-size: 45px;
    width: 450px;
    height: 85px;
    color: #CFD4D8;
}
.newsletter-equity{
    width: 382px;
    height: 84px;
    font-size: 17px;
    color: #CBD0D5BA;
}
.newsletter-subscribe{
    width: 169px;
    height: 30px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #B961CD;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.newsletter-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 244px;
    background-color: #0C3834;
}
.blog-card{
    width: 240px;
    height: 160px;
}
.blog-label{
    width: 51px;
    height: 80px;
    font-size: 12px;
    color: #CBD0D591;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-info h1{
    width: 220px;
    height: 100px;
    color: #CFD4D8;
    font-size: 20px;
}
.blog-link{
    width: 80px;
    height: 20px;
    color: #CFD4D8;
    font-size: 15px;
}
.line-7{
    width: 80px;
    border-bottom: 1px solid #CFD4D8;
}
.line-8{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1700px;
    border-bottom: 1px solid #2C6862;
}
.footer-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.footer-tagline{
    width: 600px;
    height: 28px;
    color: #CBD0D5BA;
    font-size: 17px;
}
.footer-columns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 750px;
    height: 300px;
}
.social-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 80px;
}
.column-services{
    height: 140px;
    line-height: 29px;
}
.column-services h3{
    width: 96px;
    height: 40px;
    color: #CFD4D8;
    font-size: 16px;
}
.column-services p{
    width: 80px;
    height: 25px;
    font-size: 16px;
    color: #CBD0D5BA;
}
.column-company{
    height: 140px;
    line-height: 29px;
}
.column-company h3{
    width: 75px;
    height: 40px;
    font-size: 16px;
    color: #CFD4D8;
}
.column-company p{
    width: 105px;
    height: 25px;
    font-size: 16px;
    color: #CBD0D5BA;
}
.column-contact{
    height: 140px;
    line-height: 29px;
}
.column-contact h3{
    width: 75px;
    height: 40px;
    font-size: 16px;
    color: #CFD4D8;
}
.column-contact p{
    width: 120px;
    height: 25px;
    font-size: 16px;
    color: #CBD0D5BA;
}
.bottom-footer{
    background-color: #134A45;
}
.copyright{
    width: 430px;
    height: 150px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CBD0D5BA;
}
.fix{
    width: 100%;
}